<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="css/estilos.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
  </head>
  <body>
    <div class="menu">
      <header>
        <div class="nav holder">
          <img class="logo" src="/images/molto8.png" alt="logo" width="100">
          <h1>Punto Dolce</h1>
        </div>
      </header>
    </div>
      
    {{{body}}}
    <footer>
        <p class="derechos">Derechos Reservados 2022 &copy; Punto Dolce. <br>Hecho por Priscila Da Costa</p>
        <i class="foot fab fa-facebook-f"></i>
        <i class="foot fab fa-instagram"></i>
        <i class="foot fab fa-twitter"></i>
        <i class="foot fab fa-whatsapp"></i>
    </footer>
    
  </body>
</html>
